name: Build and Push Docker Image to AWS ECR

on:
  push:
    branches:
      - main  

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
  AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

      - name: Build and test with Maven
        run: mvn -B verify

      - name: Log in to Amazon ECR using stored token
        run: |
          echo "${{ secrets.ECR_TOKEN }}" | docker login \
            --username AWS \
            --password-stdin \
            ${{ env.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com

      - name: Build Docker image
        run: |
          docker build -f ./Dockerfile -t refcard01 .

      - name: Tag Docker image for ECR
        run: |
          docker tag refcard01:latest \
          ${{ env.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/refcard01img324:latest

      - name: Push Docker image to ECR
        run: |
          docker push \
          ${{ env.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/refcard01img324:latest

